body {
    background-color: black;
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight:100; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 20%;
}

.form-container {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:first baseline;
    border-radius: 20px;
}


.title {
    font-size: 4em;
    margin-bottom: 40px;
}

.subtitle {
    font-size: 1.8em;
}

.btn-class {
    background-color: white;
    width: 80%;
    height: 2.8em;
    border-radius: 1.3em;
    margin-bottom: 10px;
    font-family: "Poppins", serif;
    font-size: 0.8em;
    font-weight:500;
    color: black;
    border: none;
    line-height: 24px;
    cursor: pointer;
}

.btn-class img {
    padding-top: px;
}

.btn-div {
    display: flex; 
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.line-grp {
    width: 80%;
    display: flex;
    gap: 3px;
    margin-top: -5px;
    margin-bottom: 5px;
    justify-content: center;
    font-size: 0.9em;
    font-weight: 300;
}
.hr-line {
    width: 40%;
    height: 0px;
    border: 1px solid rgb(54, 52, 52);
    margin: 10px;
}

.left-line {
    margin-left: 0px;
}

.right-line {
    margin-right: 0px;
}

.create-account {
    background-color:rgb(29, 155, 240) ;
    color: aliceblue;
}
.sign-in {
    background-color: transparent;
    border: 0.1em solid aliceblue;
    color: rgb(29, 155, 240);
    width: 160%;
}

.sign-in-div > p {
    font-size: 0.9em;
    font-weight: 400;
}

p {
    font-size: 0.8em;
}
p > a {
    color: cyan ;
    text-decoration: none;
}

.terms {
    width: 90%;
    font-size: 0.7em;
    margin-top: -15px;
    margin-bottom: 50px;
}

.footer-div {
    width: 100%;
}
.navbar {
    color: aliceblue;
    width: 100%;
    
}
.nav-list {

    display: flex;
    justify-content: space-around;
    font-size: 0.7em;
    list-style:none;
}